<!DOCTYPE html>
<html lang="en">
<style style="text/css">
  
		
   .name:hover {
          background-color: #ffff99;
    }

</style>

    <head>
        
          
    </head>
    <body>
    <div id="names"> @foreach($names as $namesclicked) 
	<div class="name" id="{{$namesclicked->id}}" fname="{{$namesclicked->fname}}" lname="{{$namesclicked->lname}}" onclick ="getselname(this)" >  
	{{$namesclicked->fname}} {{$namesclicked->lname}}
	</div>
	
	
	
	@endforeach
	</div>
	
	 <script language="javascript">

       
			
	 function getselname(name)
	 {
		 
		
		
        <!--  alert(name.getAttribute("fname") +" "+name.getAttribute("lname")+" id:"+name.getAttribute("id")); -->
		<!--  window.open("http://localhost:8000/timetable/40/30/"+name.getAttribute("fname"), "mainwd"); -->
		parent.name=name.getAttribute("fname")+" "+name.getAttribute("lname");
		parent.selected_id=name.getAttribute("id");
		parent.refreshbottom();  
		
	 }
			
    
</script>
    </body>
</html>
